body {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}

nav {
	position: absolute;
	height: 30px;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	top: 0;
	z-index: 3;
}

img {
	display: block;
	max-width: auto;
	height: 100%;
	min-width: 100%;
	overflow:hidden;
}

a, a:hover {
	text-decoration: none;
}

a:hover {
	background-color: rgba(123,123,123,1);
}

.gallery {
	/*max-width: 100%;*/
	height: 100%;
	z-index: 4;
}

.gallery-cell {
	min-width: 100%;
}

h1 {
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 30px;
	font-size: 16px;
	margin: 0;
	padding-top: 10px;
	z-index: 3;
}

.centered-horizontal {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.centered-vertical {
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
}

.content {
	position: absolute;
	height: 80%;
	width: 90%;
	z-index: 2;
	overflow-x: hidden;
	overflow-y: scroll;
}

.clearfix {
	overflow: auto;
}

.container {
	position: absolute;
	width: 100%;
	height: 50%;
}

.child {
	width: 50%;
	height: 50%;
	margin: 0;
	overflow: hidden;
}

.top {
	top: 0%;
}

.bottom {
	top: 50%;
}

.one {
	position: fixed;
	left: 0%;
}

.two {
	position: fixed;
	left: 50%;
}

.white {
	color: rgba{255,255,255,1};
}
