  * {
    -webkit-font-smoothing: antialiased;
  }

	*::selection{ color: chartreuse; }
	*::-moz-selection{ color: chartreuse; }

  html, body {
    height: 100%;
    margin: 0px;
  }

  p {
  	font-family:"Neue Haas Unica W01 Light";
  	font-size: 16px;
  	line-height: 18px;
  }

  body {
/*    padding: 8px;*/
    background-color: #F6F6F6;
    box-sizing: border-box;
  }

  h1 {
  	font-family:"Neue Haas Unica W01 Light";
  	font-size: 5vw;
  	font-weight: 100;
  	line-height: 100%;
  	text-align: center;
  }

  h2 {
  	font-family:"Neue Haas Unica W01 Regular";
  	font-size: 22px;
  	font-weight: 100;
  	line-height: 22px;
  	text-align: center;
  	letter-spacing: -0.5px;
  }

  strong {
  	font-family:"Neue Haas Unica W01 Regular";
  	font-weight: 100;
  	letter-spacing: -0.5px;
  }

a:hover { color: red !important; background-color: yellow; }

  .split {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;
  }

  .content {
    border: 1px solid #C0C0C0;
    box-shadow: inset 0 1px 2px #e4e4e4;
    background-color: #fff;
  }

  .gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  .gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('../img/dot.svg');
  }

  .gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url('../img/dot.svg');
  }

  .split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
  }

  .content {
  border: 1px solid #C0C0C0;
  box-shadow: inset 0 1px 2px #e4e4e4;
  background-color: #fff;
  }

  #a, #b, #c, #d, #e, #f, #g, #h, #i, #j, #k, #l, #m, #n, #o, #p, #q, #tvss {overflow-x: hidden; overflow-y: auto;}

  #a, #c, #i, #o, #p, #tvss {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	align-items: center;
	justify-content: center;
  }

  #one { background-color: RGBA(25, 34, 251, 1); }
  #two { overflow: hidden; background-color: RGBA(131, 251, 49, 1); }
  #three { overflow: hidden; background-color: RGBA(254, 252, 49, 1); }
  #four { background-color: RGBA(255, 43, 6, 1); }
  #five { background-color: RGBA(243, 249, 255, 1); padding-right: 5px;}

  #five p {
  	font-size: 12px;
  	line-height: 110%;
  }

  #tvss h1 {
  	color: RGBA(131, 251, 49, 1);;
  }

  #a h1 {
  	color: RGBA(255, 181, 33, 1);
  }

  #b p {
	  	color: RGBA(0, 252, 255, 1);		
	  	font-size: 24px;
	  	line-height: 130%;
		margin: 25px;
  }

  #c, #i p { text-align: center;}

  #c, #d, #e, #f, #g, #h p {
  	margin-top: 5px;
  	margin-left: 10px;
  	margin-right: 5px;
  }

  #i, #j, #k, #l, #m, #n p {
  	margin-top: 2px;
  	margin-left: 7px;
  	margin-right: 2px;  	
  }

  #o:hover, #p:hover {
  	color: yellow;
  	cursor: pointer;
  }

  #o, #p, #q p, h1 {
  	color: yellow;
  	margin: 20px;
  }

  .logos {
	display: block;
	max-width: 90%;
	min-width: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
	height: auto;
}