body {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	font-size: 16px;
}

nav {
	position: absolute;
	height: 30px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	top: 0;
	z-index: 3;
	font-size: 14px;
}

img {
	display: block;
	max-width: auto;
	height: 100%;
	min-width: 100%;
	overflow:hidden;
}

p {
	font-size: 14px;
	line-height: 130%;
}

strong {
	font-size: 22px;
	color: blue;
}

h1 {
	z-index: 3;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 30px;
	font-size: 14px;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

h2 {
	text-align: center;
	letter-spacing: 2px;
	font-size: 32px;
	border-top: 8px dashed blue;
	padding-top: 60px;
	color: blue;
}

h3 {
	margin-bottom: 0;
	color: blue;
}


a, a:hover, a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	background-color: yellow;
}

.workshop-description {
	padding-left:5%;
	padding-right: 5%;
	/*font-style: italic;*/
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index:5;
	height: 22px;
	margin-left: auto;
	min-width: 0 !important;
	cursor: pointer;
	filter: alpha(opacity=30); /* IE8 */
	opacity: 0.3;
}

.close:hover {
	filter: alpha(opacity=100); /* IE8 */
	opacity: 1;
}

.apply {
	position: absolute;
	pointer-events: none;
	z-index: 6;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	font-size: 56px;
	width: 100%;
	height: 100%;
	color: white;
	text-align: center;
	line-height: 110%;
}

.gallery {
	/*max-width: 100%;*/
	height: 100%;
	z-index: 4;
}

.gallery-cell {
	min-width: 100%;
}

.centered-horizontal {
	/*left: 0;
	right: 0;*/
	margin-left: auto;
	margin-right: auto;
}

.centered-vertical {
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
}

.content {
	z-index: 0;
	position: absolute;
	height: 100%;
	padding-left: 10%;
	padding-right: 10%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.clearfix {
	overflow: auto;
}

.container {
	position: absolute;
	width: 100%;
	height: 50%;
}

.child {
	width: 50%;
	height: 50%;
	margin: 0;
	overflow: hidden;
}

.top {
	top: 0%;
}

.bottom {
	top: 50%;
}

.one {
	position: fixed;
	left: 0%;
}

.two {
	position: fixed;
	left: 50%;
}

.white {
	color: rgba{255,255,255,1};
}

#b2 {
	background-color: rgba(0,0,0,0.15)
}

.turquoise {
	background-color:rgba(155,255,255,0.9);
}
