/*font-family:'Neue Haas Unica W01 Light';
font-family:'Neue Haas Unica W01 Lig1492560';
font-family:'Neue Haas Unica W01 Regular';
font-family:'Neue Haas Unica W01 Hea1492559';
font-family:'Neue Haas Unica W01 Bold';
font-family:'Neue Haas Unica W01 Bol1492557';*/

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=fe5d1798-178a-4e5d-b715-9678c48d534f");
@font-face{
font-family:"Neue Haas Unica W01 Light";
src:url("Fonts/001e59a9-197e-4fb1-9e72-cef21b186c03.eot?#iefix");
src:url("Fonts/001e59a9-197e-4fb1-9e72-cef21b186c03.eot?#iefix") format("eot"),url("Fonts/e5716290-d41e-4c97-a27c-7a20a46ddf45.woff2") format("woff2"),url("Fonts/b681571f-aab2-4935-a99c-6ee1063ce638.woff") format("woff"),url("Fonts/1d88a9b0-aac0-40df-baf7-a630cd19cc5d.ttf") format("truetype"),url("Fonts/40a247b1-2840-4953-b24b-8a82ace0673b.svg#40a247b1-2840-4953-b24b-8a82ace0673b") format("svg");
}
@font-face{
font-family:"Neue Haas Unica W01 Lig1492560";
src:url("Fonts/b7efcac9-8856-44e9-aa4b-ddc054ecf711.eot?#iefix");
src:url("Fonts/b7efcac9-8856-44e9-aa4b-ddc054ecf711.eot?#iefix") format("eot"),url("Fonts/0e1c7b56-be29-4eec-b5fa-f7e29da05704.woff2") format("woff2"),url("Fonts/dd305109-19c2-45b3-b6e2-bcda814c27aa.woff") format("woff"),url("Fonts/e4f669d4-b0d1-4770-befa-06c56782a3eb.ttf") format("truetype"),url("Fonts/e67035a8-dfc1-42c5-bef8-80630321df05.svg#e67035a8-dfc1-42c5-bef8-80630321df05") format("svg");
}
@font-face{
font-family:"Neue Haas Unica W01 Regular";
src:url("Fonts/0ebd7648-5847-404a-a88a-28a353c0921c.eot?#iefix");
src:url("Fonts/0ebd7648-5847-404a-a88a-28a353c0921c.eot?#iefix") format("eot"),url("Fonts/e0d80810-f7e3-4fea-8c57-ef8116f0465d.woff2") format("woff2"),url("Fonts/27645c8a-608b-4abf-a2f1-c4407b576723.woff") format("woff"),url("Fonts/bd3b3439-8eff-445c-80ed-87064138ca7d.ttf") format("truetype"),url("Fonts/bf3731ee-64fe-49c1-b8a6-a4edbff3c74a.svg#bf3731ee-64fe-49c1-b8a6-a4edbff3c74a") format("svg");
}
@font-face{
font-family:"Neue Haas Unica W01 Hea1492559";
src:url("Fonts/960b8d39-bee7-47a1-a258-c73f8aabab91.eot?#iefix");
src:url("Fonts/960b8d39-bee7-47a1-a258-c73f8aabab91.eot?#iefix") format("eot"),url("Fonts/cc589c6c-1ce4-4279-8684-c378497d1c68.woff2") format("woff2"),url("Fonts/8546c78d-5a38-4c7b-9371-5a70d803922a.woff") format("woff"),url("Fonts/cb4a00d4-9830-4ba3-914c-8eae604824b6.ttf") format("truetype"),url("Fonts/611ebee3-c884-4580-86d4-d81a6180c188.svg#611ebee3-c884-4580-86d4-d81a6180c188") format("svg");
}
@font-face{
font-family:"Neue Haas Unica W01 Bold";
src:url("Fonts/debbfa41-3ea8-466c-9174-de4e919598ed.eot?#iefix");
src:url("Fonts/debbfa41-3ea8-466c-9174-de4e919598ed.eot?#iefix") format("eot"),url("Fonts/39bb8fb3-84a4-4ab8-ae45-db1834f5d807.woff2") format("woff2"),url("Fonts/96fd4fb4-75db-412f-986d-d65380ee0ccf.woff") format("woff"),url("Fonts/d86863bd-a6e3-4cd0-abe7-a711edaaebc6.ttf") format("truetype"),url("Fonts/eea53212-4a22-464f-bb6f-5cd5b17467ff.svg#eea53212-4a22-464f-bb6f-5cd5b17467ff") format("svg");
}
@font-face{
font-family:"Neue Haas Unica W01 Bol1492557";
src:url("Fonts/8508cf3d-6461-49ec-a435-858f5ead2f8b.eot?#iefix");
src:url("Fonts/8508cf3d-6461-49ec-a435-858f5ead2f8b.eot?#iefix") format("eot"),url("Fonts/dfa9d078-533c-44d9-9dd9-deaafbff5a96.woff2") format("woff2"),url("Fonts/4142b00a-232a-49e8-803c-541f8b932fa1.woff") format("woff"),url("Fonts/cecd8354-0b61-4068-b4e6-3bb48ba2ca12.ttf") format("truetype"),url("Fonts/d12886e5-81c2-4844-99c4-e329d374da92.svg#d12886e5-81c2-4844-99c4-e329d374da92") format("svg");
}


body {
	margin: 0;
	padding: 0;
	font-family:'Neue Haas Unica W01 Regular';
	font-size: 16px;
}

nav {
	position: absolute;
	height: 30px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	top: 0;
	z-index: 3;
	font-size: 14px;
}

img {
	display: block;
	max-width: auto;
	height: 100%;
	min-width: 100%;
	overflow:hidden;
}

p {
	font-size: 14px;
	line-height: 130%;
}

strong {
	font-size: 22px;
	color: blue;
}

h1 {
	z-index: 3;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 30px;
	font-size: 14px;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

h2 {
	text-align: center;
	letter-spacing: 2px;
	font-size: 32px;
	border-top: 8px dashed blue;
	padding-top: 60px;
	color: blue;
}

h3 {
	margin-bottom: 0;
	color: blue;
}


a, a:hover, a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	background-color: yellow;
}

.workshop-description {
	padding-left:5%;
	padding-right: 5%;
	/*font-style: italic;*/
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index:5;
	height: 22px;
	margin-left: auto;
	min-width: 0 !important;
	cursor: pointer;
	filter: alpha(opacity=30); /* IE8 */
	opacity: 0.3;
}

.close:hover {
	filter: alpha(opacity=100); /* IE8 */
	opacity: 1;
}

.apply {
	position: absolute;
	pointer-events: none;
	z-index: 6;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	font-size: 56px;
	width: 100%;
	height: 100%;
	color: white;
	text-align: center;
	line-height: 110%;
}

.gallery {
	/*max-width: 100%;*/
	height: 100%;
	z-index: 4;
}

.gallery-cell {
	min-width: 100%;
}

.centered-horizontal {
	/*left: 0;
	right: 0;*/
	margin-left: auto;
	margin-right: auto;
}

.centered-vertical {
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
}

.content {
	z-index: 0;
	position: absolute;
	height: 100%;
	padding-left: 10%;
	padding-right: 10%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.clearfix {
	overflow: auto;
}

.container {
	position: absolute;
	width: 100%;
	height: 50%;
}

.child {
	width: 50%;
	height: 50%;
	margin: 0;
	overflow: hidden;
}

.top {
	top: 0%;
}

.bottom {
	top: 50%;
}

.one {
	position: fixed;
	left: 0%;
}

.two {
	position: fixed;
	left: 50%;
}

.white {
	color: rgba{255,255,255,1};
}

#b2 {
	background-color: rgba(0,0,0,0.15)
}

.turquoise {
	background-color:rgba(155,255,255,0.9);
}
